<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body>
    <%- include('header') %>
    <main class="recipe">
      <h1><%- title %></h1>
      
      <% if (locals.errors) { %>
        <% errors.forEach(function (error) { %>
            <p class="validation-messages">
                <%= error.msg %>
            </p>
        <% }); %>
      <% }; %>

      <img src="/images/<%=category.image%>" />

      <% if (recipes.length > 0) { %>
        <h2><%- category.name %> contains the following recipes:</h2>

        <ul>
        <% recipes.forEach(function (recipe) { %>
            <li>
                <a href="<%=recipe.url%>">
                    <%- recipe.name %>
                </a>
            </li>
        <% }) %>
        </ul>

        <p>If you delete this category, it will be permanently removed from the list of tags for <%= recipes.length == 1 ? 'this recipe' : 'these recipes'%>.</p>

      <% } %>
      <h2>Are you sure?</h2>
      <form method="POST" action=''>
      
        <input
            type="hidden"
            name="categoryid"
            value="<%= category._id %>"
            required/>
      
        <% if (locals.destructive) { %>
          <label
            for="admin-password">Admin password: *</label>
          <input
            id="admin-password"
            type="password"
            name="adminPassword"
          />
        <% }; %>

        <button type="submit">Delete Category</button>
      </form>
      
    </main>
  </body>
</html>
