<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><h2>Odin<span class="blue">Recipes</span></a></h2>
      </div>
      <div class="links">
        <h3><a href="/catalogue/recipes">Recipes</a></h3>
        <h3><a href="/catalogue/categories">Categories</a></h3>
      </div>
    </header>
    <main class="recipe">
      <h1><%= title %></h1>

      <img src="/images/<%=category.image%>" />

      <% if (recipes.length > 0) { %>
        <h2>Recipes:</h2>
        <ul>
        <% recipes.forEach(function (recipe) { %>
            <li>
                <a href="<%=recipe.url%>">
                    <%= recipe.name %>
                </a>
            </li>
        <% }) %>
        </ul>

      <% } else { %>
        <h2>This category has no recipes yet.</h2>
      <% }; %> 
      
    </main>
  </body>
</html>
