<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="recipe">
      <h1><%- title %></h1>

      <h3>All fields are required.</h3>

      <% if (locals.errors) { %>
        <% errors.forEach(function (error) { %>
            <p class="validation-messages">
                <%= error.msg %>
            </p>
        <% }); %>
      <% }; %>

      <form method="POST" action="" encType="multipart/form-data">
        <label for="name">Category Name: </label>
        <input
          id="name"
          name="name"
          placeholder="Descriptive name"
          value="<%- locals.category ? category.name : '' %>"
        />

        <% if (locals.category && (locals.imageCloud || locals.imageLocal || category.image)) { %>
        <p class="image-preview-label">Image preview</p>
        <img
          class="image-preview"
          src=<%= locals.imageLocal ? `/images/${locals.imageLocal}` : locals.imageCloud ? locals.imageCloud : category.imageCloudUrl ? category.imageCloudUrl : `/images/${category.image}`%> />
        <input type="hidden" name="imagePath" value="<%= category.image %>" />
        <input type="hidden" name="imageCloud" value="<%= category.imageCloudUrl %>" />
        <input type="hidden" name="imageUpdated" value="<%= locals.imageUpdated %>" />

        <label for="category-image">Upload a different image: </label>
        <% } else { %>
        <label for="category-image"
          >Upload an image for your category (required):
        </label>
        <% }; %>

        <input
          id="category-image"
          type="file"
          name="categoryImage"
          accept="image/*"
        />

        <% if (locals.destructive) { %>
        <label for="admin-password">Admin password: *</label>
        <input id="admin-password" type="password" name="adminPassword" />
        <% }; %>

        <button>Submit</button>
      </form>
    </main>
  </body>
  <script>
    const handleFileChange = (event) => {
      if (!event.target.files) {
        return;
      }

      const [newFile] = event.target.files;

      const previewImage = document.querySelector('.image-preview')
      previewImage.src=URL.createObjectURL(newFile);

    };

    const fileInput = document.querySelector('#category-image');
    fileInput.addEventListener('change', handleFileChange)

  </script>
</html>
