<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="recipe">
      <h1><%- title %></h1>

      <% if (locals.errors) { %>
        <% errors.forEach(function (error) { %>
            <p class="validation-messages">
                <%= error.msg %>
            </p>
        <% }); %>
      <% }; %>

      <img src="/images/<%=recipe.image%>" />

      <h2>Are you sure you want to delete this recipe?</h2>
      <form method="POST" action="">
        <input
          type="hidden"
          name="recipeid"
          value="<%= recipe._id %>"
          required
        />

        <% if (locals.destructive) { %>
        <label for="admin-password">Admin password: *</label>
        <input id="admin-password" type="password" name="adminPassword" />
        <% }; %>

        <button type="submit">Delete Recipe</button>
      </form>
    </main>
  </body>
</html>
