<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="recipe-list">
      <h1><%= title %></h1>
      <p class="create-link">
        <a href="/catalogue/recipe/create">Create a new recipe</a>
      </p>
      <% recipes.forEach(function(recipe) { %>
      <a href="<%= recipe.url %>">
        <div class="recipe-card">
          <div class="recipe-top">
            <img src="/images/<%=recipe.image%>" />
            <div>
              <h2><%- recipe.name%></h2>
            </div>
          </div>
          <div class="recipe-text">
            <p class="category-list">
              Categories:
              <span>
                <% if(recipe.categories.length == 0) { %> None <% }; %> <%
                recipe.categories.forEach(function (tag, index) { %> <%= index
                == 0 ? '' : '• ' %><%- tag.name %> <% }); %>
              </span>
            </p>
            <!-- <p><%- recipe.description%></p> -->
          </div>
        </div>
      </a>
      <% }); %>
    </main>
  </body>
</html>
