<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="recipe">
      <h1><%- title %></h1>

      <h3>Required fields are marked with *</h3>

      <% if (locals.errors) { %>
        <% errors.forEach(function (error) { %>
            <p class="validation-messages">
                <%= error.msg %>
            </p>
        <% }); %>
      <% }; %>

      <form method="POST" action="" encType="multipart/form-data">
        <label for="name">Recipe Name: *</label>
        <input
          id="name"
          name="name"
          placeholder="Name"
          value="<%- locals.recipe ? recipe.name : '' %>"
        />

        <label for="description">Recipe Description: (optional) </label>
        <textarea id="description" name="description" placeholder="Description">
<%- locals.recipe ? recipe.description : '' %></textarea
        >

        <label for="ingredients"
          >Recipe Ingredients: *
          <p class="form-hint">
            Please begin each ingredient on its own line and start each line
            with a dash
          </p>
        </label>
        <textarea
          id="ingredients"
          name="ingredients"
          placeholder="<%-`- 1 red onion
- 4 cloves of garlic`%>"
          rows="8"
        >
<%- locals.recipe && recipe.ingredients.length > 0 ? '- ' + recipe.ingredients.join('\r\n\- ') : '' %></textarea
        >

        <label for="steps"
          >Recipe Steps: *
          <p class="form-hint">
            Please begin each step on its own line and start each line with a
            dash
          </p>
        </label>
        <textarea
          id="steps"
          name="steps"
          placeholder="<%-`- chop the onions and garlic
- heat oil in the pan`%>"
          rows="8"
        >
<%- locals.recipe && recipe.steps.length > 0 ? '- ' + recipe.steps.join('\r\n\- ') : '' %></textarea
        >

        <label for="source-link"
          >Link to original source for the recipe (if applicable):
        </label>
        <input
          id="source-link"
          name="sourceLink"
          placeholder="e.g. https://minimalistbaker.com/easy-tofu-pad-thai/"
          value="<%- locals.recipe ? recipe.sourceLink : '' %>"
        />

        <label for="source-text">Source link text (optional): </label>
        <input
          id="source-text"
          name="sourceText"
          placeholder="e.g. Easy Tofu Pad Thai - Minimalist Baker"
          value="<%- locals.recipe ? recipe.sourceText : '' %>"
        />

        <fieldset class="options" for="categories">
          <legend>Choose categories:</legend>
          <% categories.forEach(function (category) { %>
          <div>
            <input type="checkbox" id="<%= category._id %>" name="categories"
            value="<%= category._id %>" <%= category.checked ? 'checked' : ''%>
            />
            <label for="<%= category._id %>"><%- category.name %></label>
          </div>

          <% }); %>
        </fieldset>

        <% if (locals.recipe && (locals.imageCloud || locals.imageLocal || recipe.image)) { %>
        <p class="image-preview-label">Image preview</p>
        <img
          class="image-preview"
          src=<%= locals.imageLocal ? `/images/${locals.imageLocal}` : locals.imageCloud ? locals.imageCloud : recipe.imageCloudUrl ? recipe.imageCloudUrl : `/images/${recipe.image}`%> />
        <input type="hidden" name="imagePath" value="<%= recipe.image %>" />
        <input type="hidden" name="imageCloud" value="<%= recipe.imageCloudUrl %>" />
        <input type="hidden" name="imageUpdated" value="<%= locals.imageUpdated %>" />

        <label for="recipe-image">Upload a different image: </label>
        <% } else { %>
        <label for="recipe-image">Upload an image for your recipe: * </label>
        <% }; %>

        <input
          id="recipe-image"
          type="file"
          name="recipeImage"
          accept="image/*"
        />

        <% if (locals.destructive) { %>
        <label for="admin-password">Admin password: *</label>
        <input id="admin-password" type="password" name="adminPassword" />
        <% }; %>

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
  <script>
    const handleFileChange = (event) => {
      if (!event.target.files) {
        return;
      }

      const [newFile] = event.target.files;

      const previewImage = document.querySelector('.image-preview')
      previewImage.src=URL.createObjectURL(newFile);

    };

    const fileInput = document.querySelector('#recipe-image');
    fileInput.addEventListener('change', handleFileChange)

  </script>
</html>
