<!DOCTYPE html>
<html>
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <main class="recipe">
      <h1><%- title %></h1>

      <h2>
        <% recipe.categories.forEach(function (category, index) { %> <%= index
        == 0 ? '' : '• ' %>
        <a href="<%=category.url %>"><%- category.name %></a>
        <% }); %>
      </h2>

      <img src=<%=recipe.imageCloudUrl ? recipe.imageCloudUrl : `/images/${recipe.image}`%> />

      <p><%- recipe.description %></p>

      <% if(recipe.sourceLink) { %>
        <p>
          Link to original recipe:
          <a href="<%-  recipe.sourceLink %>"> <%- recipe.sourceText ? recipe.sourceText : recipe.sourceLink%></a>
        </p>
      <% }; %>

      <h2>Ingredients:</h2>
      <ul>
        <% recipe.ingredients.forEach(function (ingredient) { %>
        <li><%- ingredient %></li>
        <% }); %>
      </ul>

      <h2>Steps:</h2>
      <ol>
        <% recipe.steps.forEach(function (step) { %>
        <li><%- step %></li>
        <% }); %>
      </ol>
    </main>
    <footer>
      <p><a href="<%=recipe.url + '/delete'%>">Delete this recipe</a></p>
      <p><a href="<%=recipe.url + '/update'%>">Edit this recipe</a></p>
    </footer>
  </body>
</html>
